@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --nav-bg-color: #58378C;
  --nav-text-color: white;
  --button-bg-color: #0052CE;
  --button-text-color: white;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-color: #EF7D19;
}

a {
  text-decoration: none;
  color: var(--nav-text-color);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 1.6rem;

  background: var(--button-bg-color);
  border-radius: .8rem;

  color: var(--button-text-color);
}

nav {
  display: flex;
  justify-content:center ;
  align-items:center ;

  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  height: 6rem;

  padding: 0 2.4rem;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
}